.container {
    width: 100%;
}

.conter {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.secMesas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}