.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.conter {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs label {
    width: auto;
    height: 150px;
    background-color: #101027;
    border: 1px solid white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.inputs label input {
    position: absolute;
    left: 45%;
    top: 50%;
    display: none;
}

.inputs select {
    width: auto;
    padding: 6px 10px;
    background-color: #101027;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    border: 1px solid white;
}

.inputs textarea {
    height: 60px;
    background-color: #101027;
    border: 1px solid white;
    color: white;
    resize: none;
    border-radius: 3px;
    padding: 6px 10px; 
}